body {
    background-color: white;
    align-items: center;
    margin: 0
}

.container {
    width: 80%;
    height: 900px;
    justify-content: center;
    margin: 0 auto;
    border: .1em dotted red
}
.game {
    width: 80%;
    border: .1em dotted blue;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto
}
.screen {
    width: 80%;
    height: 300px;
    margin: 20px auto 20px auto;
    background-color: rgb(54, 52, 52);
    border: .5em solid goldenrod;
    border-radius: .3em;
}

.question {
    width: 80%;
    font-family: 'Geo', serif;
    font-size: 4em;
    color: white;
    margin: 20px auto 20px auto;
    
}

.answers {
    display: flex;
    flex-direction: column;
    margin: 20px auto 20px auto;
    width: 80%

}

button {
    border: .25em solid darkgray;
    border-radius: .3em;
    height: 100px;
    margin-bottom: .5em

}

.row {
    border: .1em dotted yellow;
    text-align: center
    /* how to align content in the center of the row? */
}

h1 {
    font-size: 3em;

}
.answers {

}
.button {
    width: 80%;
    height: 80px;
    background-color: darkgray;
    border: .3em solid goldenrod;
    border-radius: .15em;
    font-size: 10px;
    text-transform: none;

}

@media screen and (max-width: 500px){
    .game {
      width: 100%;
    }

    /* #screen {
        font-size: smaller em
    }

    .button {
        font-size: smaller em
    } */
  }