body {
    background-color: white;
    align-items: center;
    margin: 0
}

.container {
    width: 80%;
    height: 900px;
    justify-content: center;
    margin: 0 auto;
    border: .1em dotted red;

}

/* Game div and display set up  */
.game {
    width: 80%;
    border: .1em dotted blue;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto
}

.screen {
    width: 80%;
    height: 300px;
    margin: 20px auto 20px auto;
    background-color: rgb(54, 52, 52);
    border: .5em solid goldenrod;
    border-radius: .3em;
}

.question {
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: white;
    margin: 20px auto 20px auto;
    
}

/* End of game div and display set up  */

/* All non-game components set up */

.welcome {
    width: 80%;
    height: 300px;
    margin: 20px auto 20px auto;
    background-color: rgb(54, 52, 52);
    border: .4em solid goldenrod;
    border-radius: .3em;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}

.row {
    border: .1em dotted yellow;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5em;
    margin-top: 20px;
    margin-bottom: 0

}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}





.button {
    width: 80%;
    height: 80px;
    background-color: darkgray;
    border: .2em solid rgb(83, 83, 82);
    border-radius: .15em;
    font-size: .8em;
    text-transform: none;
    margin: 0 auto 10px auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;


}

/* 
@media screen and (max-width: 500px){
    .container {
        width: 100%
    }
    .game {
      width: 100%;
    }
    /* .question {
        font-size: 3em
    } */

    /* .button {
        font-size: smaller em
    } */