body {
    background-color: white;
    align-items: center;
    margin: 0
}

.container {
    width: 80%;
    height: 900px;
    justify-content: center;
    margin: 0 auto;
    border: .1em dotted red;

}
.game {
    width: 80%;
    border: .1em dotted blue;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto
}
.screen {
    width: 80%;
    height: 300px;
    margin: 20px auto 20px auto;
    background-color: rgb(54, 52, 52);
    border: .5em solid goldenrod;
    border-radius: .3em;
}

.question {
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
    color: white;
    margin: 20px auto 20px auto;
    
}

.answers {
    display: flex;
    flex-direction: column;
    margin: 20px auto 20px auto;
    width: 80%

}

/* 
.answerbutton {
    width: 80%;
    height: 100px;
    background-color: darkgray;
    border: .25em solid darkgray;
    border-radius: .3em;
    font-size: 10px;
    text-transform: none;
    margin: .5em auto
} */

.row {
    border: .1em dotted yellow;
    text-align: center;
    /* how to align content in the center of the row? */
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5em;
    margin-top: 20px;
    margin-bottom: 0

}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}

.welcome {
    width: 80%;
    height: 300px;
    margin: 20px auto 20px auto;
    background-color: rgb(54, 52, 52);
    border: .4em solid rgb(177, 175, 172);
    border-radius: .3em;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    align-items: center;
}

.question {
    font-size: 2em
}

.welcomebuttonspace {
    margin: 0 auto 20px auto;
    align-items: center
}


.startbutton {
    width: 80%;
    height: 80px;
    background-color: darkgray;
    border: .2em solid rgb(83, 83, 82);
    border-radius: .15em;
    font-size: .8em;
    text-transform: none;
    margin: 0 auto 10px auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;


}

/* 
@media screen and (max-width: 500px){
    .container {
        width: 100%
    }
    .game {
      width: 100%;
    }
    /* .question {
        font-size: 3em
    } */

    /* .button {
        font-size: smaller em
    } */